<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content">
		<%= form_tag(:action => :create) do %>
		<%= text_field_tag :question, nil, :placeholder => "Pose a question..." %>
		<%= submit_tag 'Publish!' %>
		<% end %>
	</div>
</div>