<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content">
		<h1>We could not have built this software without:</h1>
		<ul>
			<li><a target="_blank" href="http://mediaelementjs.com/">MediaElement.js</a></li>
			<li><a target="_blank" href="http://rubyonrails.org">Ruby On Rails</a></li>
			<li><a target="_blank" href="http://jquery.com/">jQuery</a></li>
			<li><a target="_blank" href="http://amazon.rubyforge.org/">aws-s3 gem</a></li>
		</ul>
	</div>
</div>