<h1>Natarré</h1>
<% if @stories %> # should be !@stories.empty?, but for some reason @stories is nil when no stories exist
<% @stories.each do |s| %>
<%= image_tag s.thumbnail.url %>
<h3><%= link_to s.title, "story/"+s.id.to_s %></h3>
<p><%= s.content %></p>
<% end %>
<% else %>
<h3>No stories yet!</h3>
<% end %>
<p><%= link_to "Tell your story to the world", new_story_path %></p>