<h1>Natarré</h1>
<% @stories.each do |s| %>

<h3><%= link_to s.title, "story/"+s.id.to_s %></h3>
<p><%= s.content %></p>


<% end %>


<p><%= link_to "Tell your story to the world", new_story_path %></p>
