<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content">
		<h1><%= @prompt.question %></h1>
		<p><%= link_to "Respond to this question", new_story_path %></p>
	</div>
</div>