<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content prompts">
		<% @prompts.each do |p| %>
		<h1><%= link_to p.question, prompt_path+"/"+p.id.to_s %></h1>

		<p>Posted <%= p.created_at.strftime("%m/%d").to_s %> | <span class="all-stories-responses"><%= link_to p.stories.size.to_s+" Responses", new_story_path+"/"+p.id.to_s %></span></p>
		<% end %>
	</div>
</div>