/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
 	font-family: Geared;
 	src: url(/assets/GearedSlab.ttf);
 	font-weight:normal;
 }
 @font-face {
 	font-family: Geared;
 	src: url(/assets/GearedSlab-Light.ttf);
 	font-weight:lighter;
 }
 .clear {
 	clear: both;
 }

.center {
	text-align:center;
}
 button,
 input[type=submit] {
 	cursor: pointer;
 	border:1pt solid #666;
 	font-size:25px;
 	font-family: Geared, serif;
 	font-weight:lighter;
 	padding:10px 20px;	
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	border-radius: 3px;
 	-moz-background-clip: padding;
 	-webkit-background-clip: padding-box;
 	background-clip: padding-box;
 	background-color: #ccc;
 	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 	box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 	&:hover {
 		-moz-border-radius: 3px;
 		-webkit-border-radius: 3px;
 		border-radius: 3px;
 		-moz-background-clip: padding;
 		-webkit-background-clip: padding-box;
 		background-clip: padding-box;
 		background-color: #bbb;
 		-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 		-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 		box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 	}
 	&:active {
 		-moz-border-radius: 3px;
 		-webkit-border-radius: 3px;
 		border-radius: 3px;
 		-moz-background-clip: padding;
 		-webkit-background-clip: padding-box;
 		background-clip: padding-box;
 		background-color: #bbb;
 		-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.75);
 		-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.75);
 		box-shadow: inset 0 0 8px rgba(0,0,0,.75); 						
 	}
 }
 input, textarea {
 	&[type=text],
 	&[type=password],
 	&[type=tel],
 	&[type=email] {
 		width: 500px;
 	}
 	&:focus {
 		outline: none;
 	}
 	&[type=file] {
 		border:0;
 	}
 	font-family: sans-serif;
 	font-size: 14px;	
 	padding: 15px;
 	border-radius: 3px;
 	border:1pt solid #666;
 }	
 html {
 	margin:0;
 	padding:0;
 	body {
 		margin:0;
 		padding:0;
 		background-image: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0) 100%), url(/assets/BottomTexture.png);
 		background-image: -o-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0) 100%), url(/assets/BottomTexture.png);
 		background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0) 100%), url(/assets/BottomTexture.png);
 		background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0) 100%), url(/assets/BottomTexture.png);

 		a {
 			text-decoration: none;
 			&:link,
 			&:visited {
 				color:black;
 			}
 			&:hover {
 				color:rgb(205,104,86);
 			}
 			&:focus {
 				outline:none;
 			}
 		}
 		form.upload-form {
 			input, textarea {
 				&[type=text],
 				&[type=password],
 				&[type=tel],
 				&[type=email] {
 					width: 500px;
 				}
 				&:focus {
 					outline: none;
 				}
 				&[type=file] {
 					border:0;
 				}
 				font-family: sans-serif;
 				font-size: 14px;	
 				padding: 5px;
 				border-radius: 3px;
 				border:1pt solid #666;
 			}
 			textarea {
 				width: 500px;
 			}
 		}
 		header#main-header {
 			background:url(/assets/TopTexture.png);
 			box-shadow: 0px -5px 4px #333 inset;
 			-webkit-box-shadow: 0px -1px 4px #333 inset;
 			-moz-box-shadow: 0px -1px 4px #333 inset;
 			font-family: Geared, serif;
 			#login-stuff {
 				float:right;
 				padding:10px 40px;
 				font-size:20px;
 				a {
 					display: inline-block;
 					padding: 10px;
 				}
 			}
 			#header-content {
 				padding-top:9px;
 				padding-bottom:10px;
 				width:800px;
 				margin: 0 auto;
 				#logo-container {
 					float: left;
 					padding:15px 10px;
 				}
 				nav {
 					float: right;
 					padding: 20px 30px;
 					a {
 						display: inline-block;
 						text-decoration:none;
 						font-size: 30px;
 						padding: 10px 15px;
 						&:link,
 						&:visited {
 							color:black;
 						}
 						&:hover {
 							background-image: url(/assets/BlueHighLight.png);
 							background-position: center center;
 							background-repeat:no-repeat;
 							background-size: contain;
 						}
 					}
 				}
 			}
 		}
 		#main-container {
 			#main {
 				width:800px;
 				margin: 0 auto;
 				font-family: "Georgia",serif;
 				font-weight: lighter;
 				#registration-form {
 					text-align:center;
 					font-size:25px;
 					input, button {
 						font-family: Geared, serif;
 						font-weight:lighter;
 						text-align:center;
 						margin:10px;
 						font-size:25px;
 					}
 					#fb-login-button,
 					#twitter-login-button {
 						width:249px;
 						height:44px;
 						border:0;
 						background-color: transparent;
 						background-position-y:44px; 
 						&:active {
 							background-position-y:0; 
 						}
 					}
 					#fb-login-button {
 						background-image:url(/assets/facebook-login.png);
 					}
 					#twitter-login-button {
 						background-image:url(/assets/twitter-login.png);
 					}
 				}
 				#login-form {
 					text-align:center;
 					font-size:25px;
 					input, button {
 						font-family: Geared, serif;
 						font-weight:lighter;
 						text-align:center;
 						margin:10px;
 						padding:10px;
 						font-size:25px;
 					}
 					#fb-login-button,
 					#twitter-login-button {
 						width:249px;
 						height:44px;
 						border:0;
 						background-color: transparent;
 						background-position-y:44px; 
 						&:active {
 							background-position-y:0; 
 						}
 					}
 					#fb-login-button {
 						background-image:url(/assets/facebook-login.png);
 					}
 				}
 				&.edit {
 					text-align:center;
 					input, button {
 						font-family: Geared, serif;
 						font-weight:lighter;
 						text-align:center;
 						margin:10px;
 						padding:10px;
 						font-size:25px;
 					}
 				}
 				&.prompts {
 					font-family: Geared, serif;
 					font-weight:lighter;
 					.all-stories-responses {
 						background:url(/assets/RedHighlightStripe.png) center center no-repeat;
 						background-size:contain;
 					}
 					h1 {
 						font-size:35px;
 					}
 					p {
 						text-align:center;
 						font-size:20px;
 						a {
 							&:hover {
 								font-weight:normal;
 							}
 						}
 					}
 				}
 				.upload-form {
 					text-align:center;
 					font-family: Geared, serif;
 					font-weight: lighter;
 					font-size:25px;
 					h1.submit-header {
 						background:url(/assets/BigRedHighlight.png) center center no-repeat;
 						padding:30px;
 						font-weight:lighter;
 						border-bottom:1pt solid #666;
 						width:300px;
 						margin:0 auto;
 						font-size:50px;
 					}
 					input.title-input {
 						text-align:center;
 						font-size:28px;
 						font-family: Geared, serif;
 						font-weight: lighter;
 						padding:10px;
 						margin:0 auto;
 					}
 					textarea.content-input {
 						margin:0 auto;
 						padding:10px;
 					}
 					#audio {
 						margin:10px auto;
 					}
 					.button {
 						font-family: Geared, serif;
 						font-weight: lighter;
 						font-size:45px;
 						padding:15px 30px 10px;
 					}
 				}
 				.button, button {
 					display:inline-block;
 					cursor: pointer;
 					-moz-border-radius: 3px;
 					-webkit-border-radius: 3px;
 					border-radius: 3px;
 					-moz-background-clip: padding;
 					-webkit-background-clip: padding-box;
 					background-clip: padding-box;
 					background-color: #ccc;
 					-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 					-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 					box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 					&:hover {
 						-moz-border-radius: 3px;
 						-webkit-border-radius: 3px;
 						border-radius: 3px;
 						-moz-background-clip: padding;
 						-webkit-background-clip: padding-box;
 						background-clip: padding-box;
 						background-color: #bbb;
 						-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 						-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 						box-shadow: inset 0 0 5px rgba(0,0,0,.75);
 					}
 					&:active {
 						-moz-border-radius: 3px;
 						-webkit-border-radius: 3px;
 						border-radius: 3px;
 						-moz-background-clip: padding;
 						-webkit-background-clip: padding-box;
 						background-clip: padding-box;
 						background-color: #bbb;
 						-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.75);
 						-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.75);
 						box-shadow: inset 0 0 8px rgba(0,0,0,.75); 						
 					}
 				}
 				h1,h2,h3,h4,h5,h6 {
 					font-family: Geared, serif;
 				}
 				h1 {
 					font-size: 50px;
 					font-weight:lighter;
 					a {
 						text-decoration:none;
 					}
 				}
 				h3 {
 					font-weight:lighter;
 					font-size:24px;
 				}
 				.post {
 					h1,h2,h3,h4,h5,h6 {
 						padding-left: 30px;
 						background: url(/assets/PurpleDot.png) no-repeat left center;
 						a {
	 						text-decoration:none;
 						}
 					}

 					&.audio {
 						h1,h2,h3,h4,h5,h6 {
 							padding-left: 30px;
 							background: url(/assets/GreenDot.png) no-repeat left center;
 						}
 					}

 					a {
 						text-decoration:underline;
 						&:hover {
 							color:rgb(205,104,86);
 						}
 					}
 					footer {
 						font-size:12px;
 					}
 					.mejs-container.mejs-audio {
 						width:100%;
 					}
 				}
 				.author {
 					font-size:15px;
 					color:#666;
 				}

 			}
 			.favorites_link {
 				padding:5px;
 				padding-right:30px;
 				background-image:url(/assets/FavoriteINACTIVE.png);
 				background-position: right 0px;
 				background-clip:none;
 				background-repeat: no-repeat;
 				&:hover,
 				&.active {
 					background-image:url(/assets/FavoriteACTIVE.png);
 				}
 			}
 			.lists_link {
 				padding:5px;
 				padding-right:30px;
 				background-image:url(/assets/ReadingListIcon.png);
 				background-position: right 0px;
 				background-clip:none;
 				background-repeat: no-repeat;
 				&:hover,
 				&.active {
 					background-image:url(/assets/ReadingListActive.png);
 				} 				
 			}
 			.comments-title {
 				border-bottom: 1pt solid black;
 			}
 			.comment {
 				border-top:1pt solid #666;
 				padding: 5px 0;
 			}
 			form {
 				display:inline;
 				.submit-button {
 					display:inline;
 					background:transparent;
 					border:0;
 					font-size: 1em;
 					font-family: Geared, serif;
 				}
 			}
 		}
 		footer.main-footer {
 			width:800px;
 			padding:50px;
 			margin:0 auto;
 			font-family: Geared, serif;
 			font-weight:lighter;
 			text-align:center;
 		}
 	}
 }
 #main-container {


 	#main.prompt,
 	#main.prompts {
 		h1 {
 			margin-top:25px;
 			text-align:center;
 		}
 		.sub-heading {
 			text-align:center;
 			&.button {
 				display:block;
 				width:300px;
 			}
 			margin:-10px auto 0 auto;
 			font-family: "Georgia",serif;
 			font-weight: lighter; 		
 			padding:7px 15px;
 			font-size:16px;			
 		}
 	}
 }
