<header id="main-header" class="main-header">
	<div id="header-content" class="header-content">
		<nav id="main-nav" class="main-nav">

			<%= link_to "prompts", prompts_path %>
			<%= link_to "popular", popular_path %>
			<%= link_to "submit", new_story_path %>

		</nav>
		<div id="logo-container">
			<a href="/"><img src="/assets/logo.png" alt="Natarré"></a>
		</div>
		<div class="clear"></div>
	</article>
</header>